@import '../../node_modules/d2-ui/lib/css/HeaderBar.css';
@import "../../node_modules/d2-ui/scss/DataTable";

$left-bar-width: 295px;

html {
  background-color: #f3f3f3;
  font-family: Roboto, Arial, sans-serif;
  font-size: 9pt;
}

.app-wrapper {
  margin-top: 4rem;
}

.left-bar {
  bottom: 0;
  left: 0;
  padding-top: 3rem;
  position: fixed;
  top: 0;
  width: $left-bar-width;
}

.main-content {
  margin-left: $left-bar-width + 30;
}

.rightNav
{
	/*top:49px;*/
  margin-top: 55px;
}

/*----------------------------------------------------------------------------*/
/* Interpretation                                                             */
/*----------------------------------------------------------------------------*/

.interpretationContainer
{
  width: 650px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px;
  margin-bottom: 2px;
  box-shadow: #e1e1e1 0 1px 1px 0;
  background-color: white;
}

.interpretationArea
{
  height: 125px;
  width: 630px;
  border: 1px solid #ccc;
  resize: none;
  overflow: auto;
  margin: 10px 4px 6px 4px;
  padding: 4px 0 0px 6px;
}

.interpretationButton
{
  width: 120px;
  height: 24px;
  margin: 0 0 6px 4px;
}

.interpretationCommentHeader
{
  padding: 7px 0 5px 0;
  margin: 1px 0 12px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#interpretationFeed
{
  width: 630px;
  margin-left: 4%;
}

#shareLink
{
  color: #777;
  font-size: 16px;
  padding-top: 7px;
  margin-left: 4%;
  margin-bottom: 22px;
}

.interpretationSymbol
{
  display: inline-block;
  padding-right: 15px;
}

.interpretationUser
{
  display: inline-block;
}

.interpretationName
{
  margin-bottom: 3px;
  padding: 5px;
}

.interpretationText
{
  margin-bottom: 5px;
}

.interpretationItem
{
  /*margin-bottom: 5px;
  margin-top: 5px;*/
  width: 100%;
  padding: 5px;
}

.interpretationItem img
{
  border: 0px;
  padding: 0px;
}

.interpretationCommentArea
{
  margin-top: 5px;
  padding: 9px 10px 7px 10px;
  background-color: #e9edef;
  border-radius: 3px;
}

.commentArea
{
  height: 70px;
  width: 580px;
  border: 1px solid #ccc;
  resize: none;
  overflow: auto;
  padding: 4px 0px 0px 6px;
}

.commentButton
{
  width: 120px;
  height: 24px;
  margin: 1px 0 0 5px;
  float: right;
}

.pointer
{
  cursor:pointer;
}

.tipText {
    color: #9e9999;
    font-weight: normal;
}

.userLink {
    font-size: 10pt;
	text-decoration: none;
    color: #366cd8;
}

.bold{
    font-weight: bold;
}

.hidden{
	display:none;
}

.postComment
{
	clear: none;
}

.title {
    height: 19px;
    font-weight: 700;
    font-size: 12px;
    font-family: LiberationSans,arial,sans-serif;
    color: #333;
    text-align: center;
    line-height: 14px;
    letter-spacing: -.1px;
}

.contentTable
{
	overflow: auto;
	width: 600;
	height: 400;
}

.linkTag
{
  margin-left: 3px;
}

.moreLink
{
	font-style:italic;
	color:blue;
	cursor:pointer;
}

a{
	cursor:pointer;
}

.disabledLink
{
  color: #cac4c4;
}

.valignTop{
  vertical-align: top;
}

/*----------------------------------------------------------------------------*/
/* Interpretation                                                             */
/*----------------------------------------------------------------------------*/


.tooltip { display: none; }
.tooltip-on-hover:hover + .tooltip { display: block; }

/*----------------------------------------------------------------------------*/
/* Search and Advanced Search Popup Related                                 */
/*----------------------------------------------------------------------------*/

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.searchDiv
{
	height: 46px;
  min-width: 350px;
  display: inline-block;
  border: 1px solid #ddd;
  margin: 3px;
  background-color: white;
}

.searchImg
{
  margin-left: 4px;
  margin-right: 12px;
  padding-bottom: 6px;
  vertical-align: middle;
  cursor: pointer;
}

.searchImg:hover
{
  fill: #777;
}

.btnImages
{
  cursor: pointer;
}

.seachPopupCloseImg
{
  fill: #777;
}

.seachPopupCloseImg:hover
{
  fill: #111;
}

.searchTable td
{
  border: none;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.searchTextbox
{
  width: 400px;
}

.searchItemsDiv 
{
  font-size:16px;
  line-height:32px;
  height:40px;
}

.cssBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cssBtnBlue
{  
  background-color:rgb(77, 144, 254);
  background-image: -moz-linear-gradient(50% 0%, rgb(77, 144, 254), rgb(71, 135, 237));

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;

  box-shadow: none;
  color: rgb(255, 255, 255);
  cursor: default;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 11px;
  font-weight: 700;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  min-width: 54px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding: 0px 16px;
  position: relative;
  text-align: center;
}

.cssBtnBlue:hover
{    
  background-color:rgb(75, 135, 234);
}

.cssBtnGray
{
  background-color: rgb(245, 245, 245);
  background-image: -moz-linear-gradient(50% 0%, rgb(245, 245, 245), rgb(241, 241, 241));

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;

  box-shadow: none;
  color: rgb(68, 68, 68);
  cursor: default;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 11px;
  font-weight: 700;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  min-width: 54px;
  outline-color: rgb(68, 68, 68);
  outline-style: none;
  outline-width: 0px;
  padding: 0px 16px;
  position: relative;
  text-align: center;
}

.cssBtnGray:hover
{  
  background-color:rgb(240, 240, 240);
}

.advanceSearchFormBtns
{
  margin-top: 20px;
  font-size: 15px;
  text-align: left;
  padding-left: 8px;
}

div.advancedSearchForm
{
  padding: 4px;
  border: 1px solid #bbb;
}

.tdTitle
{
  padding: 8px;
  margin-right: 20px;
}

.tdData
{
  padding-left: 15px; 
}

.tdData input, .tdData select
{
  font-size: 13px;
  height: 27px !important;
  margin: 3px 0px;
  padding: 1px 2px;  
}

.searchStyle
{
  font-size: 13px;
}

.calendar
{
  width: 90px;
}

/* ------------------------ */
/* ------------------------ */
