@import '../../node_modules/d2-ui/lib/css/HeaderBar.css';
@import "../../node_modules/d2-ui/scss/DataTable";

$left-bar-width: 295px;

html {
  background-color: #f3f3f3;
  font-family: Arial,Helvetica Neue,'sans-serif'!important;
  font-size: 9pt;
}

.app-wrapper {
  margin-top: 4rem;
  /* font-size: 12px; */
}

.left-bar {
  bottom: 0;
  left: 0;
  padding-top: 3rem;
  position: fixed;
  top: 0;
  width: $left-bar-width;
}

.main-content {
  margin-left: 5px;
}

.rightNav
{
	/*top:49px;*/
  margin-top: 55px;
}

/*----------------------------------------------------------------------------*/
/* Interpretation                                                             */
/*----------------------------------------------------------------------------*/

.divMainPage
{
  padding-top: 6px;
  max-width: 1300px;
}

.tblMainPage
{
  width: 100%;
  /* padding: 0px;
  margin: none; */
}

.tblMainPage td
{
  /* padding: 0px;
  border-spacing: 0px;*/
  margin: none;
  vertical-align: top;
}


.tblMainPage td:nth-child(1)
{
  padding-right: 8px;
  padding-left: 3px;
}

.divMainArea
{
  min-width: 650px;
}

.divRightArea
{
  vertical-align: top;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 8px;
  margin-bottom: 2px;
  margin-right: 6px;
  box-shadow: #e1e1e1 0 1px 1px 0;
  background-color: white;
  font-size: 12px;
}

.divSearchArea
{
  margin-bottom: 0px;
}

.interpretations
{
  padding-top:10px;   
}

.interpretationContainer
{
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px;
  margin-bottom: 2px;
  box-shadow: #e1e1e1 0 1px 1px 0;
  background-color: white;
}

.interpretationArea
{
  height: 125px;
  width: 96%;
  border: 1px solid #ccc;
  resize: none;
  overflow: auto;
  margin: 10px 4px 6px 4px;
  padding: 4px 0 0px 6px;
}

.intprePageLoading
{
  margin-top: 5px;
  padding-left: 30px;
  padding-top: 7px;
  font-size: 14px;
  color: #444;
  font-size: 14px;
  font-weight: bold;
}

.intpreHasNextPage
{
  margin-top: 7px;
  height: 30px;
  border: 1px solid #777;
  background-color: #aaa;
  color: #444;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 7px;
}

.interpretationButton
{
  width: 120px;
  height: 24px;
  margin: 0 0 6px 4px;
}

.interpretationCommentHeader
{
  padding: 7px 0 5px 0;
  margin: 1px 0 12px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#interpretationFeed
{
  width: 96%;
  margin-left: 4%;
}

#shareLink
{
  color: #777;
  font-size: 16px;
  padding-top: 7px;
  margin-left: 4%;
  margin-bottom: 22px;
}

.interpretationSymbol
{
  display: inline-block;
  padding-right: 15px;
}

.interpretationDescSection
{
  margin-bottom: 3px;
  padding: 5px 5px 5px 7px;
  font-size: 12px;
}

.interpretationName
{
  display: inline-block;
}

.interpretationText
{
  margin-bottom: 5px;
  margin-left: 4px;
  margin-top: 5px;
}

.interpretationItem
{
  /*width: 100%;*/
  padding: 2px 2px 2px 30px;
}

.interpretationItem img
{
  border: 0px;
  padding: 0px;
}

.interpretationCommentArea
{
  margin: 2px 5px 5px 5px;
  border: 1px solid #ddd;
  font-size: 12px;
}

.commentArea
{
  height: 50px;
  width: 570px;
  border: 1px solid #ccc;
  resize: none;
  overflow: auto;
  padding: 4px 0px 0px 6px;
  font-family: Roboto,Arial,sans-serif;
  font-size: 12px;
}

.commentButton
{
  width: 120px;
  height: 24px;
  margin: 1px 0 0 5px;
  float: right;
}

.pointer
{
  cursor:pointer;
}

.tipText {
    color: #9e9999;
    font-weight: normal;
}

.userLink {
	  text-decoration: none;
    color: #3162c5;
}

.bold{
    font-weight: bold;
}

.hidden{
	display:none;
}

.postComment
{
	clear: none;
}

.title {
    height: 19px;
    font-weight: 700;
    font-size: 12px;
    font-family: LiberationSans,arial,sans-serif;
    color: #333;
    text-align: center;
    line-height: 14px;
    letter-spacing: -.1px;
    margin-top: 8px;
}

.contentTable
{
	overflow: auto;
	width: 600;
	height: 400;
  //padding-left: 100px;
  //padding-right: 100px;
}

.linkTag
{
  margin-left: 7px;
  font-size: 12px;
}

.moreLink
{
	font-style:italic;
	color:blue;
	cursor:pointer;
}

a{
	cursor:pointer;
}

.disabledLink
{
  color: #cac4c4;
}

.valignTop{
  vertical-align: top;
}

.leftSpace{
  margin-left: 4px;
}

/*----------------------------------------------------------------------------*/
/* Interpretation                                                             */
/*----------------------------------------------------------------------------*/


.tooltip { display: none; }
.tooltip-on-hover:hover + .tooltip { display: block; }

.interpTopRightDiv {
    display: inline-block;
    float: right;
}

.topRightIcons {
  cursor: pointer;
  width: 15px;
}

.topRightAnchors {
  margin-right: 7px;
}
/*----------------------------------------------------------------------------*/
/* Search and Advanced Search Popup Related                                 */
/*----------------------------------------------------------------------------*/

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.searchDiv
{
	height: 46px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 4px;
  background-color: White;
}

.searchImg
{
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 6px;
  padding-bottom: 4px;
  vertical-align: middle;
  cursor: pointer;
}

.searchImg:hover
{
  fill: #777;
}

.btnImages
{
  cursor: pointer;
}

.seachPopupCloseImg
{
  fill: #777;
}

.seachPopupCloseImg:hover
{
  fill: #111;
}

.searchTable
{
  margin: none;
  padding: 0px;
  border-spacing: 0px;
}

.searchTable td
{
  border: none;
  margin: none;
  padding: 0px;
  vertical-align: middle;
}

.searchTable .tdSearchIcon
{
  width: 40px;
}

.searchTable .tdSearchTextInput
{
  width: 100%;
}

.searchTable .tdAdvancedSearch
{
  width: 40px;
}

.searchTextbox
{
  width: 100%;
}

.searchItemsDiv 
{
  font-size:16px;
  line-height:32px;
  height:40px;
}

/*----------------------------------------------------------------------------*/
/* Search Auto Complete Dropdown Related                               */
/*----------------------------------------------------------------------------*/

.divLoadingPlaceHolder
{
  margin: 2px 0px 2px 0px;
  padding: 4px;
  background-color: #EEE;
  color: #555;
}

.searchItemStyle
{
  margin: 2px 0px 2px 0px;
  padding: 3px 3px 3px 12px;
  font-size: 13px;
  color: #3162C5;
  cursor:pointer;  
}

.searchItemName
{
  margin-left: 7px;
}

.searchItemStyle:hover
{
    background-color: #EEE;
}

.divSearchItemHeaderPart
{
    margin: 10px 0px 4px 0px;
    padding-bottom: 4px;
    border-bottom: 1px solid #dddddd;
}

.spanSearchItemHeaderName
{
  font-size: 13px;
  color: #336C8B;
  font-weight: bold;
  margin-left: 15px;
}

/*----------------------------------------------------------------------------*/
/* Advanced Search Form Related                                 */
/*----------------------------------------------------------------------------*/

.advanceSearchFormBtns
{
  margin-top: 20px;
  font-size: 15px;
  text-align: left;
  padding-left: 8px;
}

div.advancedSearchForm
{
  padding: 4px;
  border: 1px solid #bbb;
}

.advanceSearchFormTable
{
  font-size: 14px;
}

.tdTitle
{
  padding: 8px;
  margin-right: 20px;
}

.searchStyle
{
  font-size: 14px;
}

.calendar
{
  width: 90px;
}

/* ------------------------ */
/* ------------------------ */

.rc-tooltip-inner {
    color: #f1ecec;
    background-color: #101010;
}

.rc-tooltip-arrow-inner {
   border-right-color: #131212 !important;
}


/* ------------------------ */
/* --- Right Side panel --- */
/* ------------------------ */

.header {
    background-color: #e6e6e6;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rightPanel table {
    border: 1px solid black;
}

.rightPanel td {
    height: 25px;
    vertical-align: middle;
}

.floatRight {
    float:right;
}


.rightList
{
  list-style:none;
  padding-left: 10px;
}

.rightList li
{
  height: 25px;
}

.verticalAlignTop
{
  vertical-align: top;
}


/* ------------------------ */
/* --- Right Side panel --- */
/* ------------------------ */

.greyBackground
{
    background-color: #efefef;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1px;
}

.greyBackground:first-child
{
    margin-top: 0px;
}

.linkArea
{
    padding-left: 5px;
    padding-right: 5px;
}

.paddingLeft
{
  padding-left: 5px;
}

.center 
{
  text-align: center;
  display: flex;
  justify-content: center;
}

.smallFont
{
  font-size: 11px;
  font-weight: normal;
}

.relativePeriodWarming
{
    font-style: italic;
    color: #b76363;
    margin-left: 100px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 13px;
}


/*----------------------------------------------------------------------------*/
/* Access information table                                                   */
/*----------------------------------------------------------------------------*/


.accessDiv
{
    border-collapse: collapse;
    border: 1px #dddddd solid;
    width: 100%;
}

.accessDiv td
{
    border: 1px solid #ddd;
    vertical-align: top;
    width: 50%;
}

.accessTb
{
    border-collapse: collapse;
}

.accessTb th
{
    background-color: #efefef;
    text-align: left;
    font-size: 16px;
}

.accessTb td, th
{
    line-height: 30px;
}


.accessSubHeader
{
    font-size: 14px;
    background-color: #f7f7f7;
}

.accessUser
{
  background-color: #f9f9f9; 
}

